
// @debug rgb(255,14,14); //#ff0e0e
$white: #E2DFDA;
$grey: #ccc;
$dark_grey: #555;
$blue: #4f6fad;
$orange: #C1432A;
$darkgrey: #1d1d1d;
$black: #000000;
$card-width:  350px;
$card-height: 500px;
$h-color:     #9CC9E3;
$yellow:      #D0BB57;
$txt-color:   #DCE3E7;


@mixin Mont-light { font-family: 'Montserrat-light', sans-serif; font-weight: 300; }
@mixin Mont-reg { font-family: 'Montserrat-Regular', sans-serif; font-weight: 400; }
@mixin Mont-bold { font-family: 'Montserrat-SemiBold', sans-serif; font-weight: 700; }
@mixin btn($color) {
  background-color: $color;
  border-bottom-color: darken($color, 15%);
  &:hover {
      background-color: lighten($color, 5%);
    }
}

@function pxtoem($target, $context){
  @return ($target/$context)+0em;
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url('../fonts/Montserrat-Light/Montserrat-Light.svg') format('svg'),
       url('../fonts/Montserrat-Light/Montserrat-Light.ttf') format('truetype'),
       url('../fonts/Montserrat-Light/Montserrat-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular/Montserrat-Regular.svg') format('svg'),
       url('../fonts/Montserrat-Regular/Montserrat-Regular.ttf') format('truetype'),
       url('../fonts/Montserrat-Regular/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-ExtraBold';
  src: url('../fonts/Montserrat-ExtraBold/Montserrat-ExtraBold.svg') format('svg'),
       url('../fonts/Montserrat-ExtraBold/Montserrat-ExtraBold.ttf') format('truetype'),
       url('../fonts/Montserrat-ExtraBold/Montserrat-ExtraBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LaFestivo';
  src: url('../fonts/LaFestivo/LaFestivo.svg') format('svg'),
       url('../fonts/LaFestivo/LaFestivo.ttf') format('truetype'),
       url('../fonts/LaFestivo/LaFestivo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('../fonts/Montserrat-SemiBold/Montserrat-SemiBold.svg') format('svg'),
       url('../fonts/Montserrat-SemiBold/Montserrat-SemiBold.ttf') format('truetype'),
       url('../fonts/Montserrat-SemiBold/Montserrat-SemiBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-MediumItalic';
  src: url('Montserrat-MediumItalic.svg#Montserrat-MediumItalic') format('svg'),
       url('Montserrat-MediumItalic.ttf') format('truetype'),
       url('Montserrat-MediumItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-SemiBoldItalic';
  src: url('Montserrat-SemiBoldItalic.svg#Montserrat-SemiBoldItalic') format('svg'),
       url('Montserrat-SemiBoldItalic.ttf') format('truetype'),
       url('Montserrat-SemiBoldItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Medium';
  src: url('Montserrat-Medium.svg#Montserrat-Medium') format('svg'),
       url('Montserrat-Medium.ttf') format('truetype'),
       url('Montserrat-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



/*
 * CSS Fadeshow by @alexerlandsson
 * This is a fadeshow built in CSS and with customization in focus.
 * Supports quick navigation, prev/next navigation and autoplay.
 *
 * For better documentation and implementation guide, check out the GitHub repository:
 * https://github.com/alexerlandsson/css-fadeshow
*/


/*
 * ===== VARIABLES =====
 *
 * Change these variables to match your preferences. For a more detailed
 * description of what each variable do, visit https://github.com/alexerlandsson/css-fadeshow
 */

$max-slides:					5;
$prefix:							true;
$responsive:					true;
$breakpoint-small:			500px;
$fade-time:						1;
$prev-next-fontfamily:		sans-serif;
$prev-next-icon-size:		3vw;
$prev-next-icon-color:		rgba(255,255,255,0.5);
$prev-next-bg:					rgba(255,255,255,0);
$prev-next-bg-hover:			rgba(255,255,255,0.1);
$prev-icon:						'❮';
$next-icon:						'❯';
$autohide-next-prev:			true;
$quick-nav-color:				rgba(255,255,255,0.8);
$quick-nav-active-color:	coral;
$fade-color:					#fff;
$autoplay:						true;
$autoplay-duration:			5;


/*
 * ===== MIXINS =====
 *
 * This section contains mixin used
 * Do not change anything here unless you know what you are doing.
 */

/* Mixins to handle prefixes */

@mixin fadeshow-transition($value...) {
	@if length($value) < 1 {
		$value: all 150ms linear;
	}
	@if $prefix == true {
		-webkit-transition: $value;
	}
				  transition: $value;
}

@mixin fadeshow-transform($value...) {
	@if length($value) < 1 {
		$value: all 150ms linear;
	}
	@if $prefix == true {
		-webkit-transform: $value;
			 -ms-transform: $value;
	}
				  transform: $value;
}

@mixin fadeshow-animation($value...) {
	@if $prefix == true {
		-webkit-animation: $value;
	}
				  animation: $value;
}

@mixin fadeshow-animation-delay($value) {
	@if $prefix == true {
		-webkit-animation-delay: $value;
	}
				  animation-delay: $value;
}

@mixin fadeshow-unselectable() {
	@if $prefix == true {
		-webkit-user-select: none;
		   -moz-user-select: none;
			 -ms-user-select: none;
	}
				  user-select: none;
}

/* Mixins to handle Quick Navigation Button states */

@mixin quickNavBtnActive() {
	background-color: $quick-nav-active-color;
}

@mixin quickNavBtnInactive() {
	background-color: $quick-nav-color;
}
